@font-face{
  font-family : "handwriting";

  src : url('../fonts/Journal/journal-webfont.eot');
  src : url('../fonts/Journal/journal-webfont.eot?') format('eot'),
        url('../fonts/Journal/journal-webfont.woff') format('woff'),
        url('../fonts/Journal/journal-webfont.ttf') format('truetype');
}

@font-face{
  font-family : "typewriter";

  src : url('../fonts/Secret-Typewriter/veteran_typewriter-webfont.eot');
  src : url('../fonts/Secret-Typewriter/veteran_typewriter-webfont.eot?') format('eot'),
        url('../fonts/Secret-Typewriter/veteran_typewriter-webfont.woff') format('woff'),
        url('../fonts/Secret-Typewriter/veteran_typewriter-webfont.ttf') format('truetype');
}

body {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  font: 18px "typewriter";
}

form {
  position: relative;
  width  : 740px;
  height : 498px;
  margin : 0 auto;
}

h3 {
  position : absolute;
  left : 415px;
  top  : 175px;
}

#from {
  position: absolute;
  left : 398px;
  top  : 245px;
}

#reply {
  position: absolute;
  left : 390px;
  top  : 295px;
}

label[for="msg"] {
  position: absolute;
  left : 20px;
  top  : 132px;
}

#msg {
  font: 18px "handwriting";
  position: absolute;
  left : 30px;
  top  : 165px;
  height: 200px;
  width: 275px;
}

button {
  position: absolute;
  left : 440px;
  top  : 350px;
  transform: rotate(-2deg);
  font-weight: bolder;
  border-radius: 4px;
  border: 2px solid #000;
  padding: 5px 10px 5px 10px;
  background-color: #fff;
  font-size: 12px;
}
